/* Global */
*{padding:0px; margin:0; border:none; outline:none; color:#333; font-family:Arial,Helvetica,sans-serif;}
*:focus{border:none; outline:none;}
html,body{height:100%;}
/*h1{font-size:32px !important;}*/
h2{font-size:24px !important;}
h3{font-size:19px !important;}
h4{font-size:16px !important;}
h5{font-size:13px !important;}
h6{font-size:11px !important;}
/*p{font-size:16px !important;}*/
a{text-decoration:none; border:none; outline:none;}
a:hover{text-decoration:underline;}
a img{border:none; outline:none;}
b{font-weight:bold;}
li{list-style:none;}
input[type=text],input[type=password]{padding:1px 2px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; border:solid 1px #ABABAB;}
input[type=text]:focus,input[type=password]:focus{border:solid 1px #4577ED; box-shadow:0px 0px 2px 1px #4577ED;}
input[type=submit]{padding:5px 10px; border:0px;}
button{padding:5px 10px; border:0px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
button:hover{cursor:pointer;}

body{
    font-family: sans-serif;
}
/* end global */

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) , url(../Assets/foto/bb7a00b1cdccd419d6bad81cc2707669.jpg
    );
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
}

i{
    cursor: pointer;
    color: white;
    font-size: 50px;
}

nav{
    width: 85%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin: 0px 20px;
    position: relative;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

nav a h1{
    color: white;
    display: inline;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li::after{
    content: '';
    height: 3px ;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;
    color: #fff;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
}

button{
    width: 200px;
    border-radius: 25px;
    padding: 15px 0 ;
    margin: 5px 15px;
    font-weight: bold;
    border: solid 2px #009688;
    background: transparent;
}

button:hover{
    background-color: #009688;
    transition:0.5s;
    border: solid 2px white;
}

span{
    color: #009688;
}

button:hover span{
    color: #333;
}






